::ng-deep .mat-form-field-placeholder{

  color:red;
}

.message-field {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: right;
}
.message-error {
    color: #F44336;
}
.feature-inner {
    visibility: visible;
  }
  .textarea {
    font-family: 'Harmattan', sans-serif;
    text-align: center;
  }

  .table {

    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
  }
  .table-inner {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #f0f0;
    margin: 0!important;
  }
  .table-cont::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.table-cont::-webkit-scrollbar-track {
    background-color:  rgb(240, 240, 240);
}
.table-cont::-webkit-scrollbar-thumb {
    background-color: #0f7ef1;
    background-image: linear-gradient(#0f7ef1 45%, #306bec 55%);
    box-shadow: 0 2px 2px #888888;
    transition: color 0.3s, background-image 0.5s, ease-in-out;
}
  .table-cont {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
    text-align: center;
    box-shadow: 0 16px 48px rgba(32,41,50,0.12)!important;
    max-height: 500px;
    overflow: auto;
    font-family: 'Harmattan', sans-serif;
    background:  rgb(240, 240, 240);
    margin: 20px 10px;
    box-shadow: 0 0 1px 3px  rgb(240, 240, 240);
  }

  .thead {
    text-align: center;
    background-color: rgb(240, 240, 240);
    color:white;
  }
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{ font-family: 'Harmattan', sans-serif;font-size:18px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg th{ font-family: 'Harmattan', sans-serif;font-size:20px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg .tg-m8xa{background-color:#306bec;color:#ffffff;border-color:inherit;text-align:center;vertical-align:center}
  .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-hyl5{background-color:#306bec;color:#ffffff;border-color:inherit;text-align:center}
  .tg .tg-egkq{background-color:#0f7ef1;color:#ffffff;border-color:inherit;text-align:center;vertical-align:center}
  .tg .tg-tqmk{background-color:#00d2cb;color:#ffffff;border-color:inherit;text-align:center;vertical-align:center}
 
  .hidden {
    display: none;
  }
  .input {
    font-family: 'Harmattan', sans-serif;
    text-align: center;
  }
  
  spinner {
    margin:0 auto;
  }
  .spinner-cont {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;
  }
