<div id="service">
  <div>

    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

      <h5 *ngIf="success"></h5>
      <div>
        <mat-form-field class="message-field input" hintLabel="">

          <mat-label style="align-self:flex-start;"> Enter &nbsp;&nbsp;&nbsp; أدخل </mat-label>

          <textarea dir="rtl" id="WordInput" class="textarea" matInput formControlName="message"></textarea>
          <mat-hint align="end">أدخل كلمة أو جملة باللغة العربية</mat-hint>
          <mat-hint align="start">Enter A word or phrase in Arabic</mat-hint>

        </mat-form-field>
      </div>
      <br>
      <div *ngIf="submitted && messageForm.controls.message.errors">
        <div *ngIf="messageForm.controls.message.errors.required">
          <p class="message-error">A word or phrase input is required</p>
        </div>
      </div>

      <div>
        <input class="button button-primary button-shadow" type="submit" value="Process">
      </div>

    </form>
    <div class="spinner-cont" *ngIf="reveal">
      <mat-spinner class="spinner" mode="indeterminate"></mat-spinner>
    </div>
    <div id='main-cont' class="features-wrap hidden">
      <div class="feature is-revealing" style="max-width: none; max-height: none">
        <div class="feature-inner">
          <div class="feature-icon">
            <img src="assets/images/feature-icon-01.svg" alt="Feature 01">
          </div>
          <div class='table-cont' id='table-cont'>
            <table class="tg table table-striped" *ngIf="hasData">
              <thead class='thead'>
                <tr>
                  <th class="tg-hyl5" colspan="12">
                    <p class="p">
                      ( {{morph?.length}} المقاطع (عدد التراكيب المحتملة
                      <br>
                      Number of possibilities ( {{morph?.length}}) </p>
                  </th>
                  <th class="tg-m8xa" rowspan="3">
                    <p class="p">
                      Certainty
                      <br>
                      مقدار الثقة
                    </p>
                  </th>
                  <th class="tg-m8xa" rowspan="3">
                    <p class="p">
                      Voweled form
                      <br> مشكّلة
                    </p>


                  </th>
                  <th class="tg-m8xa" rowspan="3">
                    <p class="p"> Original string
                      <br>الكلمة
                    </p>


                  </th>
                </tr>
                <tr>
                  <th class="tg-egkq" colspan="3">
                    <p class="p"> Enclitic
                      <br>اللواصق اللاحقة
                    </p>



                  </th>
                  <th class="tg-egkq" colspan="6">
                    Word
                    <p class="p">
                      المفردة
                    </p>


                  </th>
                  <th class="tg-egkq" colspan="3">
                    <p class="p"> Proclitcs
                      <br>اللواصق السابقة
                    </p>



                  </th>
                </tr>
                <tr>
                  <th class="tg-tqmk">
                    <p class="p">Tag
                      <br>الوسم
                    </p>



                  </th>
                  <th class="tg-tqmk">
                    <p class="p"> Arabic description
                      <br>الوصف
                    </p>


                  </th>
                  <th class="tg-tqmk">
                    <p class="p">Voweled text
                      <br>النص
                    </p>


                  </th>
                  <th class="tg-tqmk">

                    <p class="p">Lemma
                      <br>الجذع
                    </p>

                  </th>
                  <th class="tg-tqmk">
                    <p class="p">root
                      <br>الجذر
                    </p>


                  </th>
                  <th class="tg-tqmk">
                    <p class="p"> Voweled
                      <br>الوزن
                    </p>

                  </th>
                  <th class="tg-tqmk">
                    <p class="p">Tag
                      <br>الوسم
                    </p>

                  </th>
                  <th class="tg-tqmk">
                    <p class="p"> Arabic description
                      <br>الوصف
                    </p>

                  </th>
                  <th class="tg-tqmk">
                    <p class="p">Voweled text
                      <br>النص
                    </p>

                  </th>
                  <th class="tg-tqmk">


                    <p class="p">Tag
                      <br>الوسم
                    </p>

                  </th>
                  <th class="tg-tqmk">
                    <p class="p">Arabic description
                      <br>الوصف
                    </p>

                  </th>
                  <th class="tg-tqmk">

                    <p class="p">Voweled text
                      <br>
                      النص
                    </p>

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of morph">
                  <td *ngIf="item['Enclitics']" class="tg-c3ow" colspan="3">
                    <table class="table-striped table-inner">
                      <tr *ngFor="let enc: of checkEnc(item['Enclitics'])">
                        <td class="tg-c3ow">
                          {{enc['@tag']}}
                        </td>
                        <td class="tg-c3ow">
                          {{enc['@arabic_description']}}
                        </td>
                        <td class="tg-c3ow">
                          {{enc['@voweled_text']}}
                        </td>

                      </tr>
                    </table>
                  </td>
                  <td *ngIf="!item['Enclitics']" class="tg-c3ow" colspan="3">لا يوجد لاصق</td>
                  <td class="tg-c3ow" *ngIf="item['Cliticless']['Pattern']">
                    {{item['Cliticless']['Pattern']['@Lemma']}}
                  </td>
                  <td class="tg-c3ow" *ngIf="item['Cliticless']['Pattern']">
                    {{item['Cliticless']['Pattern']['@root']}}
                  </td>
                  <td class="tg-c3ow" *ngIf="item['Cliticless']['Pattern']">
                    {{item['Cliticless']['Pattern']['@voweled']}}
                  </td>
                  <td class="tg-c3ow" *ngIf="!item['Cliticless']['Pattern']">
                    no lemma
                  </td>
                  <td class="tg-c3ow" *ngIf="!item['Cliticless']['Pattern']">
                    no root
                  </td>
                  <td class="tg-c3ow" *ngIf="!item['Cliticless']['Pattern']">
                    no vouled
                  </td>
                  <td class="tg-c3ow">{{item['Cliticless']['@tag']}}</td>
                  <td class="tg-c3ow">{{item['Cliticless']['@arabic_description']}}</td>
                  <td class="tg-c3ow">{{item['@voweled_form']}}</td>
                  <td *ngIf="item['Proclitcs']" class="tg-c3ow" colspan="3">
                    <table class="table-striped table-inner">
                      <tr *ngFor="let pro: of checkPre(item['Proclitcs'])">
                        <td class="tg-c3ow">
                          {{pro['@tag']}}
                        </td>
                        <td class="tg-c3ow">
                          {{pro['@arabic_description']}}
                        </td>

                        <td class="tg-c3ow">
                          {{pro['@voweled_text']}}
                        </td>

                      </tr>
                    </table>
                  </td>
                  <td *ngIf="!item['Proclitcs']" class="tg-c3ow" colspan="3">لا يوجد لاصق</td>
                  <td class="tg-c3ow">{{item['@certainty']}}</td>
                  <td class="tg-c3ow">{{item['@voweled_form']}}</td>
                  <td class="tg-c3ow">{{text}}</td>
                </tr>
              </tbody>
            </table>

            <div *ngIf="success && !hasData"> لم يعرف</div>
          </div>
          <p>Find more information at our <a href="https://github.com/Qutuf/Qutuf">repository.</a> </p>
        </div>

      </div>

    </div>
    <div id='main-cont-phrase' class="features-wrap hidden">
      <div class="feature is-revealing" style="max-width: none; max-height: none">
        <div class="feature-inner">
          <div class="feature-icon">
            <img src="assets/images/feature-icon-01.svg" alt="Feature 01">
          </div>
          <div class='table-cont' id='table-cont-phrase'>
            <table class="tg table table-striped">
              <thead class='thead'>
                <tr>
                  <th class="tg-hyl5">
                    <p class="p">هل تم التعرف عليها؟<br>Have been recognized?</p>
                  </th>
                  <th class="tg-hyl5">
                    <p class="p">المفردة-الجذع<br>Lemma-stem</p>
                  </th>
                  <th class="tg-hyl5">
                    <p class="p">عدد الاحتمالات<br>number of possibilities</p>
                  </th>
                  <th class="tg-hyl5">
                    <p class="p">الكلمة<br></p>
                  </th>
                </tr>
              </thead>
              <tr *ngFor="let item: of checkPhraseData(data) let i = index">
                <ng-template [ngIf]="i % 2== 0">
                  <td class="tg-c3ow">{{item['@has_been_identified']}}</td>
                  <td class="tg-c3ow">{{item['@lemmas']}}</td>
                  <td class="tg-c3ow">{{item['@number_of_possibilities']}}</td>
                  <td class="tg-c3ow">{{item['@original_string']}}</td>
                </ng-template>

              </tr>

            </table>
            <p>Find more information at our <a href="https://github.com/Qutuf/Qutuf">repository.</a> </p>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="error">
      Error
    </div>
  </div>
</div>